<!DOCTYPE html>
<html>
    <head>
        {{ client_js_code }}
        <meta name="msvalidate.01" content="EE224A87A74468D1C27B404FE134DC6C" />
        {% if page.meta_description %}<meta name="description" content = "{{ page.meta_description }}">{% endif %}
        {% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}">{% endif %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20974237-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            {% block scripts %}
                {{ page.scripts | safe}}
            {% endblock %}
        </script>
            {% for css_file in page.css_imports %}
                <link href="{{css_file}}" rel="stylesheet" />
            {% endfor %}
            {% block styles %}
                <style>
                    {{ page.styles | safe }}
                </style>
            {% endblock %}
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
        <title>
            {% if page.html_title %}
                {{ page.html_title }}
            {% else %}
                Mechatronics | Arduino | Python | app engine -- Todd Sifleet
            {% endif %}
        </title>
    </head>
    <body>
        {% block body %}
            {{ page.body }}
        {% endblock %}
    </body>
    <script src="/static/scripts/base.js"></script>
    {% for script in page.js_imports %}
      <script src="{{script}}"></script>
    {% endfor %}
    {% block imports %}{{ page.imports}}{% endblock %}
</html>
