{% extends "base.html" %}
{% block content %}
    {% if page.content and not page.prev %}
        <div class = "parent-description">
            {{ page.content }}
        </div>
    {% endif %}
    {% for page in page.pages %}
        <div class = "entry">
            <h2 class = "entry-title">
                <a href = "{{ page.url }}">{{ page.title }}</a>
            </h2>
            <div class = "description">
                {{ page.description|safe }}
            </div>
        </div>
    {% endfor %}
    {% if page.prev or page.next %}
      <div class="link-bar">
        {% if page.prev %}
          <a class = "pull-left" href="{{page.prev.url}}">Previous</a>
        {% endif %}
        {% if page.next %}
          <a class = "pull-right" href="{{page.next.url}}">Next</a>
        {% endif %}
      </div>
    {% endif %}
{% endblock %}
