#github-feed {
  width: 700px;
  height: 200px;
  overflow: scroll;
  font-family: "Gotham", sans-serif;
}
#github-feed h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}
#github-feed pre {
  border: 1px dotted black;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 0px;
}
#github-feed .commit-link {
  float: right;
  position: relative;
  padding-right: 10px;
  top: -35px;
}
#github-feed a :hover {
  text-decoration: none;
}
