.parent-description {
  background-color: #dee7ee;
  border: 2px dotted #205c90;
  padding: 15px;
  font-weight: bold;
  text-align: justify;
}
.home_box {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  float: left;
  color: #dee7ee;
  background: #205c90;
  overflow: hidden;
  padding: 20px;
  margin-top: 5px;
}
.home_box a {
  color: white;
  text-decoration: none;
  border-bottom: 4px solid #4c7ca6;
}
.home_box a:hover {
  background-color: #4c7ca6;
  color: white;
}
.default_font_family {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #444444;
  line-height: 1.7;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.inner_container {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}
#nav-contact-icons img {
  height: 30px;
  width: auto;
  opacity: .5;
}
#nav-contact-icons img:hover {
  opacity: 1;
}
#navigation {
  border-right: 1px solid #bccedd;
  width: 480px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: right;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 46px;
}
#navigation #mobile-nav-button {
  display: none;
  text-align: center;
  margin: -5px;
  margin-bottom: 0px;
  width: fill;
  background-color: #205c90;
  color: #bccedd;
}
#navigation #mobile-nav-button:hover {
  color: white;
}
#navigation ul {
  float: right;
  width: 100%;
  margin: 0px;
  padding: 50px;
  margin-top: 75px;
  list-style-type: none;
}
#navigation li {
  line-height: 54px;
}
#navigation .footer {
  float: right;
  padding-right: 50px;
}
#navigation a {
  color: #bccedd;
  text-decoration: none;
}
#navigation:hover a {
  color: #205c90;
}
#navigation:hover a:hover {
  color: #4c7ca6;
}
.title-bar {
  border-bottom: 1px solid #bccedd;
  margin-left: 480px;
  width: 607px;
  overflow: wrap;
  padding-left: 25px;
}
.title-bar h1 {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}
.footer {
  margin: 0px;
  margin-left: 480px;
  margin-top: -30px;
  max-width: 600px;
  text-align: right;
}
.content {
  min-height: 100%;
  padding: 12px;
  margin: 0px;
  margin-left: 500px;
  margin-bottom: 50px;
  width: fill;
  max-width: 600px;
}
#show-navigation {
  display: None;
  float: left;
  text-decoration: None !important;
}
a {
  color: #205c90;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c7ca6;
  font-weight: 900;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 62px;
  color: #205c90;
  line-height: 1;
  letter-spacing: -3px;
  vertical-align: text-bottom;
  text-align: right;
  padding: 0;
  margin: 30px 0 0 0;
}
h2 {
  font-size: 42px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  line-height: 54px;
  letter-spacing: -2px;
  margin: 36px 0 18px 0;
}
h2:first-child {
  margin-top: 9px;
}
h3 {
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin: 1em 0 -18px 0;
}
h4 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 0.5em 0 0 0;
}
strong {
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #FF5000;
}
.pull-right {
  float: right;
}
.phone_view {
  margin: 0px;
  height: auto;
  position: relative;
}
@media only screen and (max-width: 1400px) {
  #navigation {
    width: 280px;
  }
  .title-bar {
    margin-left: 280px;
    max-width: 607px;
  }
  .content {
    margin-left: 300px;
    max-width: 600px;
  }
  .footer {
    margin-left: 300px;
    max-width: 600px;
  }
}
@media only screen and (max-width: 880px), only screen and (max-device-width: 880px) {
  .hide-on-phone {
    display: none;
  }
  #show-navigation {
    display: block;
  }
  body {
    padding: 5px;
    margin: 0px;
    font-size: 24px;
  }
  .footer {
    text-align: center;
    margin: 0px;
    margin-left: 0px;
    margin-top: -35px;
    width: 100%;
    float: right;
  }
  #nav-menu {
    -moz-transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    transition: max-height 1s ease;
    max-height: 0px;
    overflow: hidden;
  }
  #navigation {
    margin: 0px;
    height: auto;
    position: relative;
    width: 100%;
  }
  #navigation ul {
    margin: 0px;
    width: fill;
    padding: 0px;
  }
  #navigation #mobile-nav-button {
    display: block;
  }
  #navigation li {
    text-align: center;
    background-color: #4c7ca6;
    border-bottom: 5px solid #205c90;
    width: fill;
    font-size: 28px;
    line-height: 1.5;
    padding: 10px;
  }
  #navigation:hover li {
    color: #bccedd;
  }
  #navigation:hover li:hover {
    color: white;
  }
  .content {
    margin: 0px;
    height: auto;
    position: relative;
    max-width: 100%;
  }
}
.code {
  margin: 10px;
  border: 1px dotted black;
  background-color: #ccc;
  font-weight: bold;
  padding: 15px;
  font-size: 14px;
}
.clear {
  clear: both;
  width: 100%;
  height: 20px;
}
